<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#FADADD"> <!-- Changed theme color to a pastel pink suitable for a wedding theme -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
    {% include analytics_head.html %}
  </head>

  <body style="background-color: #FAF0E6;"> <!-- Added inline style for body background color to a pastel pink suitable for a wedding theme -->
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar">
              <img src="{{ site.baseurl }}{{ site.avatar }}" alt="Avatar 1" />
              <!-- Second avatar for mobile hidden on desktop -->
              <img src="{{ site.baseurl }}{{ site.avatar2 }}" alt="Avatar 2" class="mobile-avatar" />
            </a>
            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
              <!-- Second avatar for desktop only -->
              <img src="{{ site.baseurl }}{{ site.avatar2 }}" alt="Avatar 2" class="desktop-avatar" style="display: none;" />
            </div>
            <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <a href="{{ site.baseurl }}/registro">Registro</a>
              <a href="{{ site.baseurl }}/codigo-vestimenta">Código de Vestimenta</a>
              <a href="{{ site.baseurl }}/lugar">Lugar</a>
              <a href="{{ site.baseurl }}/alojamiento">Alojamiento</a>
              <a href="{{ site.baseurl }}/turismo">Turismo</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
